<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chiapazolate</title>
    <link rel='stylesheet' href='/stylesheets/Envio.css'>
</head>
<body>
    <img class="logo" src="/images/logo.png">
    <img class="icono1" src="/images/icono1.png">
    <img class="icono2" src="/images/icono2.png">
    <img class="icono3" src="/images/icono3.png">
    <img class="icono4" src="/images/icono4.png">
    <img class="flecha1" src="/images/flecha1.png">
    <img class="flecha2" src="/images/flecha2.png">
    <img class="flecha3" src="/images/flecha3.png">
    <h1>Envio</h1>
    <div class="direccion">
        <h2>Dirección</h2>
        <form action="/pago/guardarEnvio" method="GET">
            <input type="text" class="calleP" placeholder="Calle principal" required>
            <input type="text" class="calleS" placeholder="Calle secundaria" required>
            <input type="text" class="telefono" placeholder="Telefono" required>
            <input type="text" class="referencia" placeholder="Referencia" required>
            <input type="text" class="nombre" placeholder="Nombre completo" required>
            <input type="submit" class="finalizar" value="Finalizar">
        </form>
    </div>
</body>
</html>