<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <Link rel="stylesheet" href ="/stylesheets/Login.css">
</head>
<body>
    <div class="inicio">
        <img src="/images/home.png" class="icon1">
        <form action="/ini/principal" method="GET">
            <input type="submit" value="Inicio">
        </form>

    </div>
    <form action="/ini/principal" method="POST" class="box">
        <img src="/images/1-removebg-preview.png" alt="icon page" class="icon">
        <h1>Iniciar sesion</h1>
        <input type="text" name="mail" placeholder="Ingrese Correo" required>
        <input type="password" name="Password" placeholder="Contraseña" required>
        <input type="submit" value="Acceder">
    </form>
    <form action="/ini/registro" method="GET" >
        <input type="submit" value="Registrarse" id="btRegistarse">
    </form>

</body>
</html>