<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chiapazolate</title>
    <link rel='stylesheet' href='/stylesheets/Pago3.css'>
</head>
<body>
    <img class="logo" src="/images/logo.png">
    <img class="icono1" src="/images/icono1.png">
    <img class="icono2" src="/images/icono2.png">
    <img class="icono3" src="/images/icono3.png">
    <img class="icono4" src="/images/icono4.png">
    <img class="flecha1" src="/images/flecha1.png">
    <img class="flecha2" src="/images/flecha2.png">
    <img class="flecha3" src="/images/flecha3.png">
    <h1>PAGO</h1>
<div class="divisa">
    <h2>Divisa seleccionada</h2>
    <h7><%= pago2.divisas %></h7>
</div>
<div class="detalles">
    <h3>Detalles de la compra</h3>
    <h4>Cantidad: <%= pago2.cant %></h4>
    <h5>Producto: <%= pago2.nombre %></h5>
    <h6>Total a pagar:</h6>
    <h8>$<%= pago2.total %></h8>
    <h9><%= pago2.divisas %></h9>
</div>
<div class="cuenta">
    <h10>Transferir dinero a la cuenta bancaria indicada abajo</h10>
    <h11>Titular de la cuenta</h11>
    <h12>Chiapazolate Inc.</h12>
    <h13>Banco</h13>
    <h14>Bancos Mexicanos</h14>
    <h15>País</h15>
    <h16>México</h16>
    <h17>Número de cuenta</h17>
    <h18>9388477757574743</h18>
    <h19>Código de cuenta</h19>
    <h20>63838</h20>
    <h21>Divisa de la cuenta</h21>
    <h22><%= pago2.divisas %></h22>
    <hr class="linea1">
    <hr class="linea2">
    <hr class="linea3">
    <hr class="linea4">
    <hr class="linea5">
    <hr class="linea6">
    <form action="/pago/pagoRealizado" method="GET">
        <input type="submit" class="pagoR" value="Pago realizado">
    </form>
</div>
</body>
</html>