<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet', href='/stylesheets/principal.css'>
    <title>Principal</title>

    <div class="barra">
        <div class="btnRI">
            <form action="/ini/Login" method="GET">
                <button id="btnInicio">Iniciar sesión</button>
            </form>
            <form action="/ini/registro" method="GET">
                <button id="btnRegistro">Registrarse</button>
            </form>
        </div>
        <img id="logo" src="/images/logo1.png">

        <ul>
            <img id="home" src="/images/home1.png">
            <img id="car" src="/images/car.png">
            <img id="person" src="/images/person.png">
            <img id="contact" src="/images/contact.png">
            <li><a href="/ini/principal">Inicio</a></li>
            <li><a href="/ini/producto">Productos</a></li>
            <li><a href="/ini/quienesSomos">Quienes somos</a></li>
            <li><a href="/ini/elaboracion">Elaboración</a></li>
        </ul>
    </div>

</head>
<body>
    <div class="mensaje">
        <img src="/images/pozolp.jpg">
        <h1>CHIAPOZOLATE</h1>
        <h2>"Disfruta la bebida de los dioses"</h2>
    </div>
    <div class="info">
        <div class="grupo1">
            <img src="/images/empaqueLogo.png">
            <h2>POZOL DESHIDRATADO</h2>
            <br>
            <h3>¡Delicioso pozol de cacao deshidratado desde Chiapas!</h3>
            <br>
            <h3>¿Eres Chiapaneco o visitaste Chiapas y te enamoraste del tradicional Pozol de cacao?</h3>
            <br>
            <h3>¡Ahora puedes adquirirlo con nosotros con ingredientes naturales!</h3>
        </div>

        <div class="grupo2">
            <img src="/images/empaqueLogo.png">
            <h3>Este producto cuenta con ingredientes y proceso de empacado de excelente calidad e higiene</h3>
            <br>
            <h3>El Pozol de cacao es una bebida tradicional chiapaneca, elaborada con maíz, cacao y canela</h3>
            <br>
            <h3>¡Lo mejor de todo es que puede guardarlo y consumirlo poco a poco, sin riesgo de que se
                descomponga al siguiente día</h3>
        </div>

        <div class="grupo3">
            <img id="pozolU" src="/images/pozol1.jpg">
            <h3>"Lo que hacemos es empaquetar un producto delicioso, refrescante, legado de Chiapas,
                estamos exportando tradición y cultura"</h3>
            <img id="pozolD" src="/images/pozol2.jpg">
        </div>

        <div class="barraF">
            <br>
            <h2>Contáctanos</h2>
            <img src="/images/whatsapp.png">
            <h3>9611114445</h3>
            <img src="/images/gmail.png">
            <h3>chiapozolate@gmail.com</h3>
        </div>

    </div>

</body>
</html>