<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet', href='/stylesheets/principal.css'>
    <title>Quienes Somos</title>

    <div class="barra">
        <div class="btnRI">
            <form action="/ini/Login" method="GET">
                <button id="btnInicio">Iniciar sesión</button>
            </form>
            <form action="/ini/registro" method="GET">
                <button id="btnRegistro">Registrarse</button>
            </form>
        </div>
        <img id="logo" src="/images/logo1.png">

        <ul>
            <img id="home" src="/images/home1.png">
            <img id="car" src="/images/car.png">
            <img id="person" src="/images/person.png">
            <img id="contact" src="/images/contact.png">
            <li><a href="/ini/principal">Inicio</a></li>
            <li><a href="/ini/producto">Productos</a></li>
            <li><a href="/ini/quienesSomos">Quienes somos</a></li>
            <li><a href="/ini/elaboracion">Elaboración</a></li>
        </ul>
    </div>

</head>
<body>

    <div class="mensaje">
        <img src="/images/PozolQ.jpg">
        <h1>CHIAPOZOLATE</h1>
        <h2>"Disfruta la bebida de los dioses"</h2>
    </div>

    <div class="info">
        <div class="grupo1">
            <img id="imagenp" src="/images/pozolp.jpg">
            <h3 id="texto1">Chiapozolate es una empresa dedicada a la preparación de una bebida tradicional
                            que existe en Chiapas llamada Pozol, preparada a base de maíz y cacao que ha sido consumido
                            desde tiempos remotos, con propiedades refrescantes y nutritivas</h3>
        </div>

        <div class="grupo2">
            <img src="/images/empaqueLogo.png">
            <h3 id="texto2">Dar bebida tradicional hasta lograr la conquista del mercado nacional e internacional,
                    manteniendo la calidad de nuestros productos</h3>
            <h2 id="texto2G">VISIÓN</h2>
        </div>

        <div class="grupo3">
            <img id="pozolU" src="/images/pozol3.jpg">
            <h3>Ofrecer a nuestros consumidores la innovación de bebidas tradicionales como el pozol deshidratado,
                envasado 100% natural, con higiene y calidad </h3>
            <h2 id="texto3G">MISIÓN</h2>
        </div>

        <div class="barraF">
            <br>
            <h2>Contáctanos</h2>
            <img src="/images/whatsapp.png">
            <h3>9611114445</h3>
            <img src="/images/gmail.png">
            <h3>chiapozolate@gmail.com</h3>
        </div>

    </div>

</body>
</html>