<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <Link rel="stylesheet" href ="/stylesheets/registro.css">
</head>
<body>
    <div class="inicio">
        <img src="/images/home.png" class="icon1">
        <form action="/ini/Login" method="GET">
            <input type="submit" value="Inicio">
        </form>

    </div>
    <form class="box" action="/ini/Login" method="GET">
        <img src="/images/1-removebg-preview.png" alt="icon page" class="icon">
        <div class="form">
            <h1>Registro</h1>
            <input type="text" name="correo" placeholder="Ingrese correo" required>
            <input type="password" name="Password" placeholder="Ingrese Contraseña" required>
            <input type="password" name="Password" placeholder="Confirme su contraseña" required>
            <input type="submit" value="Registrarse">
        </div>
    </form>
</body>
</html>